html {
  height: 100%;
}
body {
    background: #455A64;
    height: 100%;
    overflow: auto;
    color: #263238;
}

.container {
    background: white;
    border-radius: 2px;
    min-height: 100%;
    overflow: auto;
}

.specialty {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 15%;
  text-align: center;
}

.row{
  height: 100%;
}

.title h2{
  margin: 30px;
  padding: 40px;
  background-color: #455A64;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.sidebar{
  height: 100%;
}

.maincontent{
  height: 500px;
}

.topping{
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;


}

.toppingSpan{
  vertical-align: bottom;
  position: absolute;
  border-top: 1px solid black;
  width: 98px;
  bottom: 0px;
  left: 0px;
  background:rgba(255,255,255,0.7);
}

.size{
  margin: 20px;
}

.num{
  margin: 20px;
}

.toppingUl{
  margin: 0;
  padding: 20px;
  text-align: center;
}

.toppingUl li{
  text-align: center;
}

.calculate{
  margin: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: .8em;
  white-space: nowrap;
}

.the-order{
  margin: 20px;

}

.Pepperoni {
  background-image: url("../img/pepperoni.jpg");
}

.Italian {

}

.Canadian {
  background-image: url("../img/canadian-bacon.jpg");
  background-size: cover;
}

.Salami {
  background-image: url("../img/salami.png");
  background-size: cover;
}

.Beef {

}

.Chicken {

}

.Green{
  background-image: url("../img/green-pepper.jpg");
  background-size: cover;
}

.Olive {
  background-image: url("../img/olive.jpg");
  background-size: cover;
}

.Onion {
  background-image: url("../img/onion.jpg");
  background-size: cover;
}

.Green {

}

.Mushroom {
  background-image: url("../img/mushroom.jpg");
  background-size: cover;
}

.Tomato {

}

.Pineapple {

}
