html {
  height: 100%;
}
body {
    background: #455A64;
    height: 100%;
    overflow: auto;
    color: #263238;
}

.container {
    background: white;
    border-radius: 2px;
    min-height: 100%;
    overflow: auto;
}

.row{
  height: 100%;
}

.title h2{
  margin: 30px;
  padding: 40px;
  background-color: #455A64;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.leftbar{
  width: 15%;
}

.maincontent{
  height: 500px;
}

.topping{
  display: block;
}

.availableToppings{

}

.size{
  margin: 20px;
}

.num{
  margin: 20px;
}

.toppingUl{
  margin: 0;
  padding: 20px;
}

.calculate{
  margin: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

.the-order{
  margin: 20px;

}
