aside, article, section, header, footer, nav {
  display: block;
}

html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
    background: #455A64;
    height: 100%;
    width: 80%;
    overflow: auto;
    color: #263238;
    margin: auto;
    font-size: 10px;
}

.floatclear {
  clear: both;
}

.container {
    background: white;
    border-radius: 2px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 1.6em;
}

.row{
  height: 100%;
}

.title h2{
  margin: 30px;
  padding: 40px;
  background-color: #455A64;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.sidebar{
  height: 100%;
  min-height: 100%;
  background-color: blue;
  float: left;
  width: 14%;
  margin: 0 1em 0 1em;
  padding: 1em;
}


.maincontent{
  height: 100%;
  float: left;
  width: 79%;
  margin: 0;
  padding: 0;
}

.pizzacol{
  height:100%;
  width:73%;
  margin:1%;
  float: left;
}

.toppingcol{
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  float: left;
}

.the-order{
  margin: 20px;
}

.size{
  margin: 20px;
}

.num{
  margin: 20px;
}

.calculate{
  margin: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: .8em;
  white-space: nowrap;
}

.specialty {
  position: relative;
  border: 1px solid black;
  display: inline-block;
  width: 150px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.specialtySpan {
  position: absolute;
  border-top: 1px solid black;
  width: 148px;
  bottom: 0px;
  left: 0px;
  background:rgba(255,255,255,0.7);
}

.topping{
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 3px;
  cursor: pointer;
}

.toppingUl{
  margin: 0;
  padding: 0px;
  text-align: center;
}

.toppingSpan{
  position: absolute;
  border-top: 1px solid black;
  width: 98px;
  bottom: 0px;
  left: 0px;
  background:rgba(255,255,255,0.7);
}

.Pepperoni {
  background-image: url("../img/pepperoni.jpg");
  background-size: cover;
}

.Italian {
  background-image: url("../img/sausage.jpg");
  background-size: cover;
}

.Canadian {
  background-image: url("../img/canadian-bacon.jpg");
  background-size: cover;
}

.Salami {
  background-image: url("../img/salami.png");
  background-size: cover;
}

.Beef {
  background-image: url("../img/beef.jpg");
  background-size: cover;
}

.Chicken {
  background-image: url("../img/chicken.jpg");
  background-size: cover;
}

.Green{
  background-image: url("../img/green-pepper.jpg");
  background-size: cover;
}

.Olive {
  background-image: url("../img/olive.jpg");
  background-size: cover;
}

.Onion {
  background-image: url("../img/onion.jpg");
  background-size: cover;
}

.Mushroom {
  background-image: url("../img/mushroom.jpg");
  background-size: cover;
}

.Tomato {
  background-image: url("../img/tomato.jpg");
  background-size: cover;
}

.Pineapple {
  background-image: url("../img/pineapple.jpg");
  background-size: cover;
}
